body {
    font: 10px sans-serif;
    margin: 0;
}

.line {
    fill: none;
    stroke: #666;
    stroke-width: 0px;
}

.area {
    fill: #e7e7e7;
    transition: all 0.4s ease-in-out;
}
.area:hover {
    fill: #ccc;
    color: #FFF;
}
